body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: auto;
    background-size: cover;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath1090%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%2332325d'%3e%3c/rect%3e%3ccircle r='39.695' cx='364.66' cy='373.77' fill='url(%23SvgjsLinearGradient1091)'%3e%3c/circle%3e%3ccircle r='16.245' cx='442.43' cy='184.06' fill='url(%23SvgjsLinearGradient1092)'%3e%3c/circle%3e%3ccircle r='19.43' cx='895.67' cy='47.12' fill='url(%23SvgjsLinearGradient1093)'%3e%3c/circle%3e%3ccircle r='50.62' cx='264.78' cy='318.05' fill='url(%23SvgjsLinearGradient1094)'%3e%3c/circle%3e%3ccircle r='23.875' cx='150.96' cy='220.94' fill='url(%23SvgjsLinearGradient1095)'%3e%3c/circle%3e%3ccircle r='23.98' cx='573.83' cy='56.54' fill='url(%23SvgjsLinearGradient1096)'%3e%3c/circle%3e%3ccircle r='41.32' cx='1387.06' cy='541.82' fill='url(%23SvgjsLinearGradient1097)'%3e%3c/circle%3e%3ccircle r='40.325' cx='1171.01' cy='401.18' fill='url(%23SvgjsLinearGradient1098)'%3e%3c/circle%3e%3ccircle r='45.87' cx='724.23' cy='371.82' fill='url(%23SvgjsLinearGradient1099)'%3e%3c/circle%3e%3ccircle r='43.865' cx='306.51' cy='36.52' fill='%2343468b'%3e%3c/circle%3e%3ccircle r='38.425' cx='800.18' cy='58.13' fill='%2343468b'%3e%3c/circle%3e%3ccircle r='46.28' cx='71.83' cy='277.26' fill='url(%23SvgjsLinearGradient1100)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath1090'%3e%3crect width='1440' height='560' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3clinearGradient x1='285.27000000000004' y1='373.77' x2='444.05000000000007' y2='373.77' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1091'%3e%3cstop stop-color='%2332325d' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23424488' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='409.94' y1='184.06' x2='474.92' y2='184.06' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1092'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='856.81' y1='47.12' x2='934.53' y2='47.12' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1093'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23464a8f' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='163.53999999999996' y1='318.05' x2='366.02' y2='318.05' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1094'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='103.21000000000001' y1='220.94' x2='198.71' y2='220.94' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1095'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23464a8f' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='525.87' y1='56.54' x2='621.79' y2='56.54' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1096'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23484687' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1304.4199999999998' y1='541.82' x2='1469.6999999999998' y2='541.82' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1097'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1090.36' y1='401.17999999999995' x2='1251.6599999999999' y2='401.17999999999995' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1098'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%237e6286' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='632.49' y1='371.82' x2='815.97' y2='371.82' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1099'%3e%3cstop stop-color='%2332325d' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23424488' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='-20.730000000000004' y1='277.26' x2='164.39' y2='277.26' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1100'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

#info {
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 5px;
    background: cornflowerblue;
    border-radius: 2px;
    color: aliceblue;}

#main-div {
    max-width: 300px;
    position: absolute;
    left: 50%;
    top: 30%;
    min-width: 200px;
    display: grid;
    gap: 20%;
    transform: translate(-50%);
    
}
button.candy {
    cursor: pointer;
    background: #302732;
    border: none;
    color: whitesmoke;
    font-size: large;
    font-family: monospace;
    padding: 10px;
    border-radius: 5px;
}
#buttons-div{
    display: grid;
    gap: 10%;
}

#box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    display: grid;
    gap: 10px;
    color: white;
    font-size: large;
    font-family: monospace;
}

#img-choosen{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%);
    width: 200px;
}

#work-js {
    display: grid;
    display: none;

    justify-content: center;
    align-content: center;
    padding: 5px;
    background: cornflowerblue;
    border-radius: 2px;
    color: aliceblue;
    border: none;
    font-size: larger;
    cursor: pointer;
    border-radius: 5px;
}

.bezos{
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 5px;
    background: cornflowerblue;
    border-radius: 2px;
    color: aliceblue;
    border: none;
    font-size: larger;
    cursor: pointer;
    border-radius: 5px;
}

.user-name{
    font-size: 30px;
    color: white;
    font-family: serif;
    position: absolute;
}


#modal {
    display: none;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    z-index: 1;
    background: rgb(0 0 0 / 68%);
}

input#rewardee-name {
    font-size: larger;
}
.resize-drag{
    border-radius: 50%;
    height: 120px;
    width: 120px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(149 82 213 / 50%);
}


#bite {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
}

input#rewardee-pic {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#rewardee-pic-div {
    position: relative;
    background: cadetblue;
    padding: 5px;
    border-radius: 2px;
    text-align: center;
    font-size: larger;
}


#download-in-progress {
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    background: bisque;
    z-index: 10;
    height: 100%;
    width: 100%;
    background: inherit;
    font-size: xxx-large;
    color: antiquewhite;
    font-family: monospace;
    display: none;
    align-content: center;
    justify-content: center;
}